<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName()}">user</p>
<p th:text="${person.getAge()}">user_age</p>
<p th:text="${person.getEmail()}">user_email</p>
<p th:text="${person.getAddress()}">address</p>
<p th:text="${person.getId()}">user_id</p>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>